@using WorldData.Models;

<h1>Countries</h1>



<ul>
  <li><strong>Country Name:</strong> @Model.CountryName;</li>
  <li><strong>Country Population:</strong> @Model.CountryPopulation;</li>
  <li><strong>Country Region:</strong> @Model.CountryRegion;</li>
  <li><strong>Country Government Form:</strong> @Model.CountryGovForm;</li>
  <li><strong>Country Continent:</strong> @Model.CountryContinent;</li>
</ul>
